<div style="display: flex; flex-wrap: wrap; gap: 20px; align-items: flex-start;">
  <div style="flex: 1; min-width: 300px;">
    <form name="contact" action="https://getform.io/" method="POST">
        <div class="input">
            <input type="text" placeholder="Nombre" name="name" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
        </div>
        <div class="input">
            <input type="text" placeholder="Correo Electrónico" name="mail" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
        </div>
        <div class="input">
            <input type="text" placeholder="Asunto" name="title" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
        </div>
        <div class="input">
            <textarea rows="5" cols="30" placeholder="Mensaje" name="message" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required></textarea>
        </div>
        <input type="submit" value="Enviar" class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
    </form>
  </div>
  <div style="flex: 1; min-width: 300px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.755852305645!2d-58.535758311461684!3d-34.53441310330831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0c9e7b7446f%3A0x57f1b985abcdfb27!2sNicaragua%205347%2C%20B1605AQE%20Munro%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses-419!2ses!4v1754236251363!5m2!1ses-419!2ses" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>